body {
    background-color:white;
}
.nav-container {
    border-bottom: 1px solid #304960;
    display: flex;
    justify-content: space-between;
}

nav{
    width: 100%;
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

.logo-square{
    height: 40px;
    width: 40px;
    border-style: solid;
    border-width: 7px;
    border-radius: 10%;
    border-color: #304960;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container ul{
    width: 55%;
    display:flex;
    justify-content: space-around;
    padding: 0;
}

li{
    list-style-type: none;
    font-weight: bold;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: #304960;
}

.main-photo{
    width: 20%;
    height: auto;
    border-radius: 15px;
}

.text-container{
    padding: 80px;
    border-radius: 10px;
    background-color: cornflowerblue;
    margin-right: -20px;
}

.text-container p{
    color: white;
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    width: 30%;
    margin-right: -50px;
    z-index: 1000;
}
.right{
    width: 70%;
}
main h1{
    text-align: center;
    color: #304960;
    
    
}

.main-border{
    padding: 50px;
}

footer{
    text-align: center;
    padding: 20px;
    
}

.sociallinks{
    border: 1px solid #304960;
}

.portfolio-container{
    display: flex;
    justify-content: space-between;
}

.portfolioleft{
    border: 1px solid black;
    width: 50%;
}

.portfolioright{
    border: 1px solid black;
    width: 50%;
}

main {
    padding-top: 15px;
}